a {
	color: #cc0000;
}
a:active {
	background: #ff4444;
	outline-color: #ff4444;
}
.mobile-header {
	background: #ff4444;
	border-bottom-color: #cc0000;
}
.mobile-header-menu.active,
.mobile-header-menu:active,
.mobile-header-menu:focus,
.mobile-header-menu:target {
	background-color: #cc0000;
}
.mobile-header-parameter.active,
.mobile-header-parameter:active,
.mobile-header-parameter:focus,
.mobile-header-parameter:target {
	background-color: #cc0000;
}
.mobile-menu-section-item:active,
.mobile-menu-section-item:focus,
.mobile-menu-section-item:target {
	background-color: #ff4444;
}
.mobile-parameter-item:active,
.mobile-parameter-item:focus,
.mobile-parameter-item:target {
	background-color: #ff4444;
}
.mobile-tabs-item.active {
	box-shadow: inset 0 -5px 0 #ff4444;
	border-bottom: #cc0000 solid 2px;
}
